body{
    background-color: #110f0fea;
    
}
header, .alert{
    z-index: 100;
}
.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}
.description:hover{
    height: 100px;
}
.carrito{
    min-height: 80vh;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;

}
.table_servicios{
    display: flex;
}
.table_servicios > img{
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;

}

.table_cantidad > input{
width: 40px;
border: none;
outline: 0;
font-size: 16px;
font-weight: 700;
margin-right: 30px;
margin-bottom: 20px;

}
.textfoto{
    color: white;
    transform: translate(10%, -2080%);
}
.jula{
    transform: translate(250px, 250px);
}
.hide, .remove{
    display: none;
}

#app{
    width: 1700px;
    margin-top: -277px;
}

@media(max-width: 500px){
    .jula{
        transform: translate(50px, 100px);
        
       
}
#app{
    margin-top: -77px;
}
}

form-control{
padding-bottom: 1rem;
}

@media(min-width: 501px){
    .jula{
        transform: translate(230px, 250px);
        
       
}
#app{
    margin-top: -177px;
}
}

form-control{
padding-bottom: 1rem;
}